html {
  background-color: aliceblue;
}

body {
  margin: 0;
}

nav {
  background-color: white;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  margin: 20px 12px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  padding: 6px;
}

nav ul li a:hover {
  background-color: aliceblue;
}

section {
  margin: 20px;
}

form {
  background-color: white;
}

form input {
  width: 100%;
  margin-bottom: 16px;
}

form input[type="submit"] {
  margin: 0;
  background-color: green;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* tambahkan CSS untuk section profile disini */
.flex-container {
  display: flex;
  background-color: white;
}

#profile {
  display: flex;
}
                                                                                                                                                                                                                        
.profile-photo {
  float: left;
}

img {
  border-radius: 50%;
  border: 2px solid #ecaf08;
  width: 85%;
}

.profile-text {
margin: 20px;
font-size: 15px;
}

.keterangan {
  color: gray;
  font-size: 12px;

}

.action {
  align-items: center;
  justify-content: left;
}

#kontak {
  padding: 15px;
  border-radius: 20px;
  background-color: blue;
  border: 2px solid white;
  color: white;
}

#resume {
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #73AD21;
}

table {
  border-spacing: 20px;
  padding: 2px;
}

table td:first-child{
  font-weight: bold;
}